header {
	background-color: #fff;
	height: 70px;
	border-bottom: 1px solid #CCCCCC;
	background-image: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/logo.png");
	background-repeat: no-repeat;
	background-position: 20px center;
}
