header {
	background-color: #fff;
	height: 70px;
	border-bottom: 1px solid #CCCCCC;
	background-image: url("/AirBnB_clone/web_static/images/logo.png");
	background-repeat: no-repeat;
	background-position: 20px center;
}
